
<a class="btn share-site share-twitter" href="<%=twitter_share_link(current_page)%>" >
  <i class="fa fa-twitter-square" aria-hidden="true"></i>
</a>

<a class="btn share-site share-email" href="<%=email_share_link(current_page)%>" >
  <i class="fa fa-envelope-square" aria-hidden="true"></i>
</a>

<a class="btn share-site share-linkedin" href="<%=linkedin_share_link(current_page)%>">
  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a>

<a class="btn share-site share-google" href="<%=google_share_link(current_page)%>" >
  <i class="fa fa-google-plus-square" aria-hidden="true"></i>
</a>
